<%= form_tag('/phonelist', method: 'post', remote: true, id: 'phone-form') do %>
    <%= select_tag :phone_select, options_for_select(@phone_list), :onchange => "phoneCall();", :include_blank => true, :default => nil, :class => "form-control input-sm" %>
<% end %>