<h3> <%= @name %> </h3>
<% @reslist.each do |r| %>
<table class="table table-bordered table-condensed">
    
    <% r[:inner].each_with_index do |i,idx| %>
        <tr>
            <% if idx == 0 %>
                <th><%= r[:name] %></th>
            <% else %>
                <th> </th>
            <% end %>
            <td><%= i[0] %></td>
            <td><%= i[1] %></td> 
        </tr>
    <% end %>
</table>
<% end %>