<div class="jumbotron">
<div class="container">
    <h1>Choose brand and model</h1>
    <div class="col-md-4">
        <div id = "f-one" class="form-group"> 
            <%= form_tag('/brandlist', method: 'post', remote: true, id: 'brand-list') do %>
                <%= select_tag :brand_select, options_for_select(@brand_list), :include_blank => true, :default => nil, :onchange => "brandCall();", :class => "form-control input-sm" %>
            <% end %>
        </div>
        <div id = "f-two" class="form-group"> 

        </div>
    </div>
    <div class="col-md-8" style="min-height: 45px;">
        <div id="result">
        
        </div>
    </div>        
</div>
<div class="spaces">
    
</div>
<div class="container">
    <h1>Type model name</h1>  
    <div class="col-md-4">
        <div id = "f-three" class="form-group"> 
            <%= form_tag('/searchphone', method: 'post', remote: true, id: 'phone-search-form') do %>
                <%= text_field_tag :search_phone, nil, :onchange => "", :class => "form-control input-sm" %>
            <% end %>
        </div>
    </div>
    <div class="col-md-8" style="min-height: 45px;">
        <div id="result-two">
        
        </div>
    </div>     
</div>
</div>